rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dune_todo_list/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /dune_todo_list/{parent}/location/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/location/{document} {
      allow read: if true;
    }


    match /dune_todo_list/{parent}/attendees/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/attendees/{document} {
      allow read: if true;
    }

  }
}
